In [1]:
import yfinance as yf
import pandas as pd
from tqdm import tqdm
import json
import os

In [2]:
with open("./data/new_tickers_2139.json") as jsf:
    new_tickers = json.load(jsf)

In [3]:
# ticker_pool = yf.Tickers(new_tickers)

# for key, yfticker in tqdm(ticker_pool.tickers.items()):
#     with open(f"./data/yf/ticker_info/{key}.json", "w") as jsf:
#         json.dump(yfticker.get_info(), jsf)

In [4]:
# parse jsons into dataframe

company_info_dict = dict()
TICKER_INFO_PATH = "./data/yf/ticker_info/"
for ticker_json in tqdm(os.listdir(TICKER_INFO_PATH)):
    with open(f"{TICKER_INFO_PATH}/{ticker_json}") as jsf:
        single_company_info = json.load(jsf)
        company_info_dict[ticker_json.rstrip(".json")] = (
            single_company_info.get("industry", None),
            single_company_info.get("sector", None),
        )

100%|██████████| 2146/2146 [00:19<00:00, 109.19it/s]

In [5]:
company_info = pd.DataFrame.from_dict(company_info_dict, orient="index", columns=["industry", "sector"])
company_info.index.name = "ticker"
company_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2146 entries, A to SEKEY
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   industry  2135 non-null   object
 1   sector    2135 non-null   object
dtypes: object(2)
memory usage: 50.3+ KB

Rename sectors according to *Global Industry Classification Standard's* sectors:

In [6]:
mapper = {
    "Energy": "Energy",
    "Basic Materials": "Materials",
    "Industrials": "Industrials",
    "Consumer Cyclical": "Consumer Discretionary",
    "Consumer Defensive": "Consumer Staples",
    "Healthcare": "Health Care",
    "Financial Services": "Financials",
    "Technology": "Information Technology",
    "Communication Services": "Communication Services",
    "Utilities": "Utilities",
    "Real Estate": "Real Estate",
}
company_info.loc[:, "sector"] = company_info.loc[:, "sector"].replace(mapper)

In [7]:
company_info.head(3)

                       industry                  sector
ticker
A        Diagnostics & Research             Health Care
AACAF   Communication Equipment  Information Technology
AACAY   Communication Equipment  Information Technology

In [8]:
company_info.dropna().to_csv("./data/yf/company_info.csv")

In [9]:
company_info

                             industry                  sector
ticker
A              Diagnostics & Research             Health Care
AACAF         Communication Equipment  Information Technology
AACAY         Communication Equipment  Information Technology
AAL                          Airlines             Industrials
AAON    Building Products & Equipment             Industrials
...                               ...                     ...
SECVY                Waste Management             Industrials
SEE            Packaging & Containers  Consumer Discretionary
SEGXF                 REIT—Industrial             Real Estate
SEIC                 Asset Management              Financials
SEKEY               Computer Hardware  Information Technology

[2146 rows x 2 columns]